.mainSection {
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    padding: 0 22rem;
}

.mainSectionTexts {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    text-align: center;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    line-height: 140%;
    margin-top: 16px;
}

.mainSectionTexts p:first-child {
    color: var(--gray-300, #808080);    
}

.mainSectionTexts {
    color: var(--gray-400, #333333);
    font-size: 14px;
}

.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    padding: 64px 24px;
    border-top: 1px solid var(--grey-400, #333);
}

.mainSection img {
    height: 56px;
    width: 56px;
}